.body {
    background-image: url(images/636452127748246023-AP-BRITAIN-NEW-FATBERG-94082736.JPG.webp);
    
}

.forms {
    background-color: white;
    border: black 1px solid;
    border-radius: 8px;
    width: 40%;
    height: 40%;
}