.forms {
    background-color: white;
    border: black 1px solid;
    border-radius: 8px;
    width: 50%;
    margin: 10% auto;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.largeheader {
    font-size: 100px;
}
.inputtime {
    width: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
}